{% extends "home/base.html" %} 
{% block title %}Contact{% endblock title %}
{% block css %}
  .important-field{
    color: red;
  }
{% endblock css %}
{% block contactActive %}active{% endblock contactActive %}
{%block body %} 
<div class="container">
  <h2>Contact iCoder Admin:</h2>
 <!-- action="/contact"  --> 
  <form  method="POST" id="contact-form" action="https://script.google.com/macros/s/AKfycby06ijENFA9GN7WLmUbbdA0N7PWRUbfgUu0stCS5YUZtVCKYLNu_oGfVaDTN_5ehoPYtA/exec">
    {% csrf_token %}
    <div class="mb-3">
      <label for="user_name" class="form-label fw-medium fs-5"
        >Enter Your Name:</label
      >
      <span class="important-field">*</span>
      <input
        type="text"
        name="user_name"
        id="user_name"
        placeholder="Enter your name:"
        class="form-control"
        spellcheck="true"
        lang="en"
        autocomplete="off"
        title="Enter your name:"
        required
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label fw-medium fs-5">
        Enter Your Email address:</label
      >
      <span class="important-field">*</span>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
        name="email"
        autocomplete="off"
        title="Enter your email:"
        required
      />
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label fs-5 fw-medium"
        >Enter Your Contact Number:</label
      >
      <span class="important-field">*</span>
      <input
        type="tel"
        name="contact"
        id="phone"
        maxlength="10"
        class="form-control"
        placeholder="Enter your contact number:"
        autocomplete="off"
        title="Enter your contact number:"
        required
      />
    </div>
    <div class="mb-2">
      <label for="exampleFormControlTextarea1" class="form-label fs-5 fw-medium"
        >Describe Your issue:</label
      >
      <span class="important-field">*</span>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        name="issue"
        title="Enter your issue:"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-outline-primary btn-lg" id="submit-btn">Submit</button>
  </form>
</div>
{% endblock body %}
{% block js %}
<script>
  // To hide the alert after 5 seconds when user submite the form.
  setTimeout(() => {$("#alert").hide()
  }, 5000);
//
window.addEventListener("load", function() {
  const form = document.getElementById('contact-form');
  form.addEventListener("submit", function(e) {
    e.preventDefault();
    const data = new FormData(form);
    console.log(data)
    const action = e.target.action;
    fetch(action, {
      method: 'POST',
      body: data,
    })
    .then(() => {
      alert("Success!");
    })
  });
});



</script>
{% endblock js %}